<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form name="loginForm" id="loginForm" method="post">
        <h2>用户登录</h2>
        <div class="form-group">
            <div class="row">
                <label class="form-label">请输入手机号</label>
                <div class="col-md-5">
                    <input id="mobile" name="mobile" class="form-control" type="text" placeholder="手机号码" required="ture" minlength="11" maxlength="11">
                </div>
            </div>


        </div>
    </form>
</body>
</html>